body{
    font-family: Georgia, serif;
    text-align: center;
}

#box{
    width: 100px;
    height: 100px;
    border: 3px solid #000000;
    border-radius: 12px;
    background-color: #000000;
    cursor: pointer;
    position: absolute;
}